@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

html {
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
   display: none;
 }

 .LandingResp{
   @apply xl:ml-[150px] lg:ml-[80px] mx-[20px]
 }
 .LandingRespRight{
  @apply xl:mr-[150px] lg:mr-[80px]  mr-[20px]
}

.center{
  @apply items-center justify-center flex
}

.between{
  @apply items-center justify-between flex
}

.fc{
  @apply items-center flex
}
.bd {
  @apply border border-[#E6E6E6] bg-[#F9FAFB] rounded-[20px]
}
.bt{
  @apply text-[#116EFC]
}
.bg{
  @apply text-[#116EFC]
}

.semiSix{
  @apply text-[16px] font-semibold text-[#131619]
}
.black {
  @apply text-[#131619] 
}
.ash {
  @apply text-[#8A8A8A]
}